modules = ["python-3.12", "bash", "nodejs-20"]
[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Project Info"

[[workflows.workflow]]
name = "Project Info"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash run.sh"

[agent]
expertMode = true
integrations = ["javascript_gemini_ai_integrations:2.0.0"]

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
SUPABASE_URL = "https://hwhlllgvahaqvcirgkjc.supabase.co"
SUPABASE_ANON_KEY = "sb_publishable_KqMTuAlUrTyBJJ5sqMErwQ_4IvlSYOJ"
GEMINI_API_KEY = "AIzaSyAVtAfk80OXzkWIw2gRSP9prKnbzyp-02I"
WEBHOOK_URL = "https://hook.eu1.make.com/b8uidls4f3sd7g9hcmubvkui08lhc32j"
